*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    /*border: 2px solid black;*/
    top: 0;
    left: 0;
    z-index: 70;
    display: flex;
    flex-direction: row;
    padding: 7px;
    width: 100%;
    padding: 5px 30px;
    justify-content: space-between;
}
nav img{
    width: 140px;
    height: 35px;
}
nav button{
    background-color: white;
    border-radius: 15px;
    width: 130px;
    height: 35px;
    color: rgb(238, 28, 150);
    border: 2px solid  rgb(238, 28, 150);
    justify-content: end;
}
#section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 0 50px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}
#section-1 h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#section-1 p{
    font-size: 24px;
    justify-content: center;
    align-items: center;

}
#section-1 p br{
    align-items: center;
    display: flex;
}
#section-1 button{
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(238, 28, 150);
    color: white;
    border: none;
    padding: 4px 15px;
    margin-top: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


#section-1 .mid-img{
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

#section-1 button:hover{
    opacity: 0.6;
    scale: 1.2;
}

/* #section-2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.like{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0 200px;

}

.communities{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}
.message{
    display: flex;
    flex-direction: column;
}

.like .message img{
    width: 30px;
}
.communities img{
    width: 30px;
    
}
.like .communities h1{
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;
}
.like .communities p{
    color: grey;
    font-size: 20px;
}

.like .message h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}
.like .message p{
    color: grey;
    font-size: 20px;
}

#section-2{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.grow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(246,251,255);
    background-position: cover;
    margin-top: -10px;
    
}
.grow .grow1{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: center;
    padding-left: 50px;
    margin-right: 300px;
    padding-right: 100px;
}
.grow1 h1{
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 35px;
}
.grow1 p{
    font-size: 18px;
    color: grey;
}
.grow .mid-img img{
    width: 50%;
    /* float: right; */
}

#section-3{
    display: flex;
    flex-direction: row;
}
.flow{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding: 0 40px;
    margin-bottom: 80px;
} 
.flow img{
    width: 50%;
    height: 27%;
    padding: 10px 10px 10px 30px;
}
.flow-com{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    justify-content: center;
}
.flow-com h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.flow-com p{
    font-size: 18px;
    color: grey;
}
#section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
}

.user img{
    width: 40%;
    height: 27%;
    padding: 10px 10px 10px 80px;
    margin-left: 120px;
}
.user{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    /* justify-content: space-between; */
}
.user h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.user p{
    font-size: 18px;
   color: grey;
}
.user-com{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}
#section-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 70px 20px; */
}
.user-but{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}
.user-but h1{
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
}
#section-5 button{
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(238, 28, 150);
    color: white;
    border: none;
    padding: 4px 15px;
    margin-top: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#section-5 button:hover{
    opacity: 0.6;
    scale: 1.2;
}

.footer-img{
    display: flex;
    flex-direction: column;
    /* margin: 200px 0; */
    position: cover;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 50px; */
    background:  rgb(0, 37, 46) fixed;
    /* background-color: rgb(0, 37, 46) fixed; */
    /* width: 100%; */
    height: 100%;
}
.foot-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 25px;
    width: 100%;
    color: white;
    margin: 30px 30px 30px 70px;
}

.foot-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    /* align-items: center; */
    padding: 0 30px;
    margin-top: 30px;
}
.foot-left img{
    display: flex;
    width: 200px;
    height: 30px;
    color: white;
    padding-bottom: 20px;

}
.foot-left p{
    color: beige;
    padding-bottom: 20px;
}
.foot-left p{
    font-size: 20px;
}
.media{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
}
.media .phone{
    flex-direction: row;
    /* padding-bottom: 17px; */
    color: white;
}
.phone img{
    width: 30px;
    height: 40px;
    float: left;
    align-items: start;
    margin-right: 20px;
}
.phone p{
    font-size: 20px;
}
.media .email{
    flex-direction: row;
    color: white;
}
.email img{
    width: 30px;
    height: 40px;
    float: left;
    align-items: start;
    margin-bottom: 20px;
    margin-right: 20px;
}
.email p{
    font-size: 20px;
}
.media ul{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.media ul i{
    /* padding: 10px; */
    font-size: 25px;
    margin-right: 25px;
}
.foot-right{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}
.foot-right h1{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
}
.foot-right p{
    font-size: 19px;
    padding-bottom: 20px;
}
.in-but{
    display: flex;
    margin: 0 10px;
}
.in-but input{
    width: 150px;
    height: 30px;
    margin-right: 15px;
}
.in-but button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color:  rgb(238, 28, 150);
    color: white;
    border: none;
}

/* responsiveness for desktop */
@media screen and  (max-width: 987px){

}

/* tablet */
@media screen and  (max-width: 900px){
    .section-1 img{
        width: 400px;
    }
    .grow{
        flex-direction: row;
        justify-content: space-between;
        width: 100%; 
    }

    .grow .grow1{
        justify-content: right;
        align-items: end;
        margin-right: 100px;
        

    }
    #section-2 .mid-img img{
        width: 100%;
        padding-right: 50px;
    }
    .grow1 h1{
        font-size: 25px;
        /* padding-left: -10px; */
    }
    .grow1 p{
        text-align: start;
    }
    .flow-com h1{
        font-size: 30px;
    }
    .user{
        margin-left: 50px;
    }
    .user img{
        width: 50%;
        height: 27%;
        padding: 10px 10px 10px 60px;
        margin-left: 80px;
    }
    .user-com h1{
        font-size: 30px;
    }
    footer{
        margin-top: -5px;
    }
    .foot-cont{
        margin-left: 30px;
    }
    .foot-left p{
        font-size: 15px;
    }
    .foot-right h1{
        font-size: 25px;
    }
    .foot-right p{
        font-size: 15px;
    }
    
}

@media screen and  (max-width: 900px){
    nav img{
        width: 120px;
    }
    nav button{
        width: 80px;
    }
    #section-1{
        width: 100%;
    }
    #section-1 h1{
        font-size: 24px;
    }
    #section-1 p{
        font-size: 18px;
    }
    #section-1 button{
        width: 150px;
        margin-top: 15px;
        font-size: 12px;
    }
    #section-1 .mid-img{
        width: 90%;
        padding: 40px 0 0 0;
        height: 70vh;
    }
    .like{
        margin: 0;
        justify-content: right;
        align-items: left;
        display: flex;
        width: 100%;
    }
    .communities{
        margin-right: 30px;
    }
    .communities h1{
        /* margin-left: -160px; */
        font-size: 17px;
    }
    .like .communities p{
        font-size: 9px;
        /* margin-left: -90px; */
    }
    #section-3
}    
